# Virtual env
venv311/

# Secrets
.env

# Audio outputs
VoxSieve/data_out/
*.wav
*.m4a

# Generated CSVs
speaker-scraper/*.csv

# Python cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

*.csv
speakers.txt
csv_org.py